<br/>

<div class="bg-dark pb-2 pt-2 pl-3 fixed-bottom" style="width:100%">
    <center>
        <table>
            <tr>
                <td width="25%" align="center">

                    <a class="whitelink" href="/contact/">Contact us</a>
                </td>
                <td width="20%" align="center">

                    <a  class="whitelink" href="/terms/">Terms</a>
                </td>
                <td width="30%" align="center">

                    <a  class="whitelink" href="/privacy_policy/">Privacy Policy</a>
                </td>
                <td width="25%" align="center">

                    <a  class="whitelink" href="/about_us/">About us</a>
                </td>
                <td width="25%" align="center">

                    <a  class="whitelink" href="/faq/">Frequently asked questions</a>
                </td>

            </tr>
        </table>
    </center>
</div>