<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
<div align="center" >
    <div style="width:50%">
    <br/>
    <br/>
    <br/>
        <form action = "" method = "POST" style="width: 80%">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" maxlength="15"  class="form-control" id="password" name="password">
                {% if msg['password'] %}
                    <span style="font-size: small;color: red">{{msg['password']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="c_password">Confirm Password</label>
                <input type="password" maxlength="15"  class="form-control" id="c_password" name="c_password">
                {% if msg['c_password'] %}
                    <span style="font-size: small;color: red">{{msg['c_password']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input type="text" maxlength="15" class="form-control" id="fullname" name="fullname" value="{{ data['fullname'] }}">

                {% if msg['fullname'] %}
                    <span style="font-size: small;color: red">{{msg['fullname']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" maxlength="50"  class="form-control" id="email" name="email"  value="{{ data['email'] }}">

                {% if msg['email'] %}
                    <span style="font-size: small;color: red">{{msg['email']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="birthday">Birthday</label>
                <input class="form-control" type="date" value="{{ data['birthday'] }}" id="birthday" name="birthday">

                {% if msg['birthday'] %}
                    <span style="font-size: small;color: red">{{msg['birthday']}}</span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="gender" name="gender">

                    {% if data['gender'] == 'male' %}
                        <option value="male" selected>Male</option>
                    {% else %}
                        <option value="male">Male</option>
                    {% endif %}

                    {% if data['gender'] == 'female' %}
                        <option value="female" selected>Female</option>
                    {% else %}
                        <option value="female">Female</option>
                    {% endif %}


                    {% if data['gender'] == 'other' %}
                        <option value="other" selected>Other</option>
                    {% else %}
                        <option value="other">Other</option>
                    {% endif %}

                </select>
                {% if msg['gender'] %}
                    <span style="font-size: small;color: red">{{msg['gender']}}</span>
                {% endif %}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-dark " value="Update Information">
            </div>
        </form>

</div></div>
</body>
</html>