<!DOCTYPE html>
<html>
   <head>
      {% include "mobile/nav.html" %}
   </head>
   <body>
      <div align="center">
          <br/>
          <br/>

          <h3> Hello,{% if user['mode']=='doctor' %} Dr.{% endif %} {{ session['username'] }} </h3>

          <br/>
          {% if user['mode']=='doctor' %} <a class="btn btn-primary" href="/prescribe/" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Create Prescription</a>{% endif %}
          {% if user['mode']=='patient' %} <a class="btn btn-primary" href="/personalized_info/{{ user['mobile'] }}" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Personalized Information</a>{% endif %}

         <br/>
         <br/>
         <form class="d-flex mt-2 mb-2" style="width: 90%;">
            <input id="searchtext" onkeyup="search()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="button" onclick="search()"><i class="fa fa-search" aria-hidden="true" ></i></button>
            <br>
         </form>
         {% if prescriptions|length>0 %}
          <div style="width:90%" id="lists">
          {% for p in range(pres|length) %}
                    {% if p==0 %}
                    <div id="pres{{p}}" style="display:block;">
                  {% else %}
                    <div id="pres{{p}}" style="display:none;">

                  {% endif %}
            {% for obj in pres[p] %}
                    <a href="/prescription/{{ obj['prescriptionid'] }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Patient Name: {{ obj['name'] }}</h5>
                            <small class="text-muted">ID: {{ obj['prescriptionid'] }}</small>
                        </div>
                        <div align="left" style="width: 100%;">
                            <p class="mb-1">Issued Date: {{ obj['date'] }}</p>
                            <p class="mb-1">Mobile: {{ obj['mobile'] }}</p>
                            <p class="mb-1">Doctor: {{ obj['doctor'] }}</p>
                        </div>

                    </a>
          {% endfor %}</div>
          {% endfor %}</div><br/><br/><br/>
              <div class="btn-group" role="group" aria-label="Basic example">
        {% for p in range(pres|length) %}
        <button type="button" class="btn btn-secondary" onclick="selected({{ p }})">{{ p+1 }}</button>
        {% endfor %}
        </div>
         {% else %}
         <br/>
         <br/>
         <br/>
         <span style="font-size: xx-large;color: #cccccc;font-weight: bolder">No prescriptions was found</span>
         <br/>
         <br/>
         <br/>
         {% endif %}
         <br/>
         <br/>
      </div>

   </body>
</html>

<script>

    function selected(id){
{% for p in range(pres|length) %}

        document.getElementById('pres{{p}}').style.display = "none";


{% endfor %}

         document.getElementById('pres'+id.toString()).style.display = "block";

    }
</script>