<!DOCTYPE html>
<html>

<head>






    {% include "nav.html" %}



</head>

<body>
<div align="center">
<div class="card  bg-light mt-5" style="width: 90%">
  <div class="card-body">
    <h2 class="card-title">Dr. AI</h2>
    <h5 class="card-subtitle mb-2 text-muted">Dr. AI is an AI based application to help the doctors in prescribing the patients.</h5>
    <p class="card-text">Artificial Intelligence and Pattern Recognition Driven Assistant for Providing Effective Treatment.</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <h5 >Powered By:</h5>
                <img src="static/ict.png" alt="">
  </div>
</div>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<footer> {% include "footer.html" %}</footer>

</body>

</html>