<!DOCTYPE html>
<html>

<head>



    {% include "mobile/nav.html" %}


</head>

<body>
<div align="center">
    <div style="width: 80%">
        <br/>
        <br/>





        <form action = "/auth/verify/" method = "POST" style="width: 80%">
            <br/>
            <br/>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" maxlength="15" class="form-control" id="phone" name="phone">
            </div>
            <div class="form-group">
                <label for="code">Confirmation Code</label>
                <input type="text" maxlength="15" class="form-control" id="code" name="code">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-dark btn-lg" value="Submit">
            </div>
        </form>
        <span style="font-size: large;font-weight: bold;color: red">{{msg}}</span>




    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</body>

</html>