<!DOCTYPE html>
<html>

<head>



    {% include "mobile/nav.html" %}


</head>

<body>
<div align="center">
    {% if msg %}
    <br/>   {{ msg }}
    {% endif %}
    <div style="width: 80%">
        <div align="left">
            <br/>
            <br/>
                <form action="" method="post">
                    <div class="form-group">
                      <label for="comment">Contact us:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                        <br/>
                      <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                        <br/>
                      <textarea class="form-control" rows="5" id="comment" name="comment" placeholder="Comment..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>



    </div>
</div>

</body>

</html>